<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="update_on_login" instance="Tejas\Custom\Observer\UpdateOnLogin" />
    </event>
    <event name="customer_logout">
        <observer name="update_on_logout" instance="Tejas\Custom\Observer\UpdateOnLogout" />
    </event>
</config>
